* {
    flex: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
    font-size: 14px;
    color: #666;
    font-family: 'Microsoft YaHei', sans-serif;
}

body {
    background: #424E56;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: 40px auto 0
}

button {
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
}

#gobang {
    display: block !important;
    overflow: hidden;
}

.chess-room {
}

#btn-group {
    clear: both;
    display: flex;
    align-items: center;
    padding: 20px 0 0;
}

#black, #white, #restart {
    width: 80px;
    height: 30px;
    margin: 0 20px 0 0;
    border: none;
    cursor: pointer;
    opacity: .8;
}

#black:hover, #white:hover, #restart:hover {
    opacity: 1;
}

#black {
    background: #333;
    color: #fff;
}

#white {
    border: 1px solid #666;
    background: #fff;
    color: #333;
}

#restart {
    background: #00c76f;
    color: #fff;
}

#black {

}

#tip {
    color: #999;
}

#players {
    position: relative;
    width: 400px;
    margin: 0 0 50px;
    padding: 50px 0 0;
    border-radius: 4px;
    overflow-y: auto;
    background: #FCFCFf;
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    padding: 0 20px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    line-height: 50px;
    background: #fff;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 20px;
}

.player:hover {
    background: #F3F8FF;
}

.player:before {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 1px;
    background: #eee;
}

.name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 30px;
}

.chess-btn {
    width: 60px;
    height: 28px;
    border: 1px solid #008add;
}

.chess-btn:hover {
    background: #008add;
    color: #fff;
}